{% comment %} Dialog for edit {% endcomment %}





{% load templatetags %}
{% load widget_tweaks %}
<div id="edit_product_modal{{counter}}" class="modal edit_product_modal">
    <form action="/product/edit" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="productId" value="{{product.id}}">
        <div class="modal-content">
            <h4><i class="material-icons">view_in_ar</i> Editar producto</h4>
            <br>
            <ul class="collapsible">
                <li class="active">
                    <div class="collapsible-header">
                        <i class="material-icons">description</i>Informacion
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <input type="text" name="newname" maxlength="255" id="id_name" value="{{product.name}}">
                                <label for="id_name">Nombre (requerido)</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input type="number" name="newbase_price" id="id_base_price" value="{{product.base_price}}">
                                <label for="id_base_price">Precio base</label>
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="newdescription" maxlength="255" id="id_description" value="{{product.description}}">
                                <label for="id_description">Descripcion</label>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">view_list</i>Categoria
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            {% for category in productCategories %}
                            {% if category.name|loadJson|getFromDict:"productId" == product.id %}
                            <div class="input-field col s12 m6">
                                <input id="category" name="newcategory" type="text" class="validate" value="{{category.name|loadJson|getFromDict:"category1"}}" />
                                <label for="category">Categoria principal</label>
                            </div>
                            {% endif %}
                            {% endfor %}
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">view_list</i>Categoria
                    </div>
                    <div class="collapsible-body">
                            <div class="row">
                            {% for category in productCategories %}
                            {% if category.name|loadJson|getFromDict:"productId" == product.id %}
                                <div class="input-field col s12 m6">
                                    <input id="category2" type="text" name="newcategory2" class="validate" />
                                    <label for="category2">{{category.name|loadJson|getFromDict:"category2"}}</label>
                                </div>
                            {% endif %}
                            {% endfor %}

                            {% for category in productCategories %}
                            {% if category.name|loadJson|getFromDict:"productId" == product.id %}

                            {% for item in productSubCategory %}
                            {% if item.category == category %}
                                <div class="input-field col s12 m6">
                                    <input id="subcategory" type="text" name="newsubcategory" class="validate" value="{{item.name}}" />
                                    <label for="subcategory">Sub categoria</label>
                                </div>
                            {% endif %}
                            {% endfor %}

                            {% endif %}
                            {% endfor %}
                            </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">image</i>Fotos
                    </div>
                    <div class="collapsible-body">
                        <div class="add-photo">
                            <input type="file" name="newphoto1" id="photo1" hidden>
                            <label for="photo1" class="btn"><i class="material-icons">add_a_photo</i></label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">image</i>Fotos
                    </div>
                    <div class="collapsible-body">
                        <div class="add-photo">
                            <input type="file" name="newphoto2" id="photo2" hidden>
                            <label for="photo2" class="btn"><i class="material-icons">add_a_photo</i></label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">list_alt</i>Especificaciones
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="input-field col s12">
                                {% for spec in productSpecification %}
                                {% if spec.product == product %}
                                <input id="key" name="newspecificationKey" type="text" class="validate" value="{{spec.key}}">
                                <label for="key" class="">Especificaciones</label>
                                {% endif %}
                                {% endfor %}
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">perm_data_setting</i>Manufactura
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            {% for item in productManufacturingDetails %}
                            {% if item.product == product %}
                            <div class="input-field col s12 m6">
                                <input id="manufacturing_cost" name="newbase_cost" type="text" class="validate" value="{{item.base_cost}}"/>
                                <label for="manufacturing_cost">Costo de manufactura</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input id="manufacturing_days" name="newestimated_days" type="text" class="validate"  value="{{item.estimated_days}}" />
                                <label for="manufacturing_days">Dias habiles</label>
                            </div>
                            <div class="input-field col s12">
                                <textarea id="manufacturing_requirements" class="materialize-textarea validate" name="newrequirements">{{item.requirements}}</textarea>
                                <label for="manufacturing_requirements">Requisitos de manufactura</label>
                            </div>
                            <div class="input-field col s12">
                                <textarea id="manufacturing_steps" class="materialize-textarea validate" name="newinstructions">{{item.instructions}}</textarea>
                                <label for="manufacturing_steps">Pasos de manufactura</label>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
            <input type="submit" class="modal-action waves-effect waves-green btn-flat"/>
        </div>
    </form>
</div>