<nav>
    <div class="nav-wrapper light-blue accent-3">
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <!-- <a href="#" class="brand-logo">Logo</a> -->
        <ul class="left">
            <li><a href="#who_are_we">Que somos?</a></li>
            <li><a href="#features">Caracteristicas</a></li>
            <li><a href="collapsible.html">Inscribe tu pyme</a></li>
        </ul>
        <ul class="right">
            <li><a href="{% url "login" %}">Ingresar</a></li>
        </ul>
    </div>
</nav>
